.articles{
    .grey{
        color: var(--clr-neutral);
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        
    }


    &__list{
        @media (max-width: 578px){
           grid: none;
        }
    }

    @media (min-width: 992px){
        .articles__list{
            display: grid;
            gap: 1rem;
        }
        .articles__list img{
            object-fit: cover;
            max-width: none;
        }
    }

    @media (min-width: 302px){
        
    }



    .article-item{
        @media (max-width: 578px){
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        font-size: var(--font-size-sm);
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial; 
        margin-bottom: 1rem;
        }
    }
    .article-item>img{
        @media (max-width: 578px){
            width: 33%;
        }
    }
    .subtitle{
        margin-bottom: 1rem;
    }


}