.articles{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    
    @media only screen and (min-width: 576px){
        .articles__list{
            grid-template-columns: repeat(auto-fit,minmax(224px,1fr));
            gap: 1rem;
        }
    }

    .article-item{
        @media (max-width: 578px){
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        font-size: var(--font-size-sm);
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial; 
        margin-bottom: 1rem;
        }
    }
    .article-item>img{
        @media (max-width: 578px){
            width: 33%;
        }
    }
    .subtitle{
        margin-bottom: 1rem;
    }
}