.articles{
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: var(--clr-surface);
    .grey{
        color: var(--clr-neutral);
    }

    .article-item__title{
        color: var(--clr-neutral-95);
        font-weight: 600;
        &:hover{
            color: var(--clr-secondary);
        }
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0;
    }


    &__list{
        @media (max-width: 578px){
           grid: none;
        }
    }

    @media (min-width: 992px){
        .articles__list{
            display: grid;
            gap: 1rem;
        }
        .articles__list img{
            object-fit: cover;
            max-width: none;
        }
    }

    @media (min-width: 302px){
        
    }



    .article-item{
        @media (max-width: 578px){
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        font-size: var(--font-size-sm);
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial; 
        margin-bottom: 1rem;
        }
    }
    .article-item>img{
        @media (max-width: 578px){
            width: 33%;
        }
    }
    .subtitle{
        margin-bottom: 1rem;
    }


}

@supports (-webkit-line-clamp: 3)
{
    .article-item__title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}