
.cards{
	display: flex;
	overflow-x: auto;
	margin-top: 1rem;
}

// .cards::-webkit-scrollbar{
// 	width: 0;
// }

.content{
    margin-bottom: 2rem;
    background-color: var(--clr-primary)!important;
}

.content-flex>h3{
    color: var(--clr-on-primary);
}

.scroll--cards{
    
	min-width: 60vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    line-height: 30px;
    text-align: center;
    margin-right: 20px;
    border: 1px  black;
    
    
}


.show-list{
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    padding: 0.25rem;
    background-color: var(--clr-surface);
}

.show-list a{
	border-bottom: 1px solid #f2f2f2;
}

.show-list a:hover{
	color: #e6073d;
}

.ranking {
	margin: 0.5rem;
}

button.slider-btn.extra {
    margin-top: 8.6rem;
}

.content-flex{
    display: flex;
    justify-content: space-between;
}

.card-btn{
    padding: 0.5em;
}

.slider-btn{
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: var(--clr-secondary);
    color: var(--clr-on-secondary);
    padding: 0.5rem 1.5rem;
    text-align: center;
    border: 0;
    border-radius: 1rem;
    font-size: .875rem;
    // line-height: 2.5;
    &:hover{
        background-color: var(--clr-primary-2);
        color: var(--clr-secondary);
    }
}


@media (min-width: 992px){
    .scroll--cards{
        min-width: 15vw;
        max-width: 20vw;
    }
}