.table{
	margin-top: 3rem;
	padding: 1rem;
	margin-bottom: 3rem;
	color: black;
	font-size: 1rem;
}

h1{
	font-size: 1.5rem;
}

table{  
	margin-top: 1rem;
	border-collapse: collapse;  
	// width: 70%; 
	@media (min-width:992px){
		width: 70%;
	}  
}  
th{
	background-color: #e6e6e6;
}
th,td{  
border: 0.5px solid grey;   
padding: 15px;  
}  

.icon-img{
	height: 20px;
	width: 20px;
	background-color: #3a0a31;
	border-radius: 50%;
	padding: 0.25rem;
}