---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import AddBaner from '../components/AddBaner.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Featured from '../layouts/Featured.astro';
import Article from '../layouts/Article.astro'
import Forum from '../layouts/Forum.astro'
import Table from '../layouts/Tables.astro'
import CardSlider from '../layouts/CardSlider.astro'
import FeaturedForum from '../layouts/FeaturedForum.astro'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<Featured />
			<AddBaner />
			<Article />
			<Forum />
			<Table />
			<CardSlider />
			<AddBaner />
			<FeaturedForum />
		</main>
		<Footer />
	</body>
</html>
