

section{
    margin-bottom: 1rem;
    .banner{
        margin-top: 1rem;
      
    }
        .ad-banner{
            margin-bottom: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                max-width: 100%;
                height: auto;
            }
        }
    
}

.platform{
    background-color: #fff;
}