
.bg{
    background:url(/public/images/topbar-background.jpg) no-repeat;
    header{

        @media (min-width: 992px) {
            .hamburger{
                display: none;
            }
        }
    
        @media (min-width: 768px){
            .hamburger{
                cursor: pointer;
            }
        }
        .bar{
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: var(--clr-body);
        }

        @media (max-width:768px) {
            .hamburger{
                display: block;
            }
            // .hamburger.active .bar:nth-child(2){
            //     opacity: 0;
            // }
            // .hamburger.active .bar:nth-child(1){
            //     transform: translate(8px) rotate(180deg);
            // }
            // .hamburger.active .bar:nth-child(3){
            //     transform: translate(-8px) rotate(-180deg);
            // }
        }
        
        .search{
            margin-right: 1rem;
        }
        .top-icons{
            display:flex;
            justify-content: space-evenly;
            align-items: center;
            gap: .05rem;
            padding: 0.25rem -0.5rem;
            gap: 0.5rem;       
        }
        .top-icon:hover{
            padding: 0.5rem;
            background-color: white;
            border-radius: 60%;
            border: white;
            transition: .1s;
        }
    
        .top-content{
            // margin-left: 12%;
            .top-bar-search__form {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                margin: 0 0.5rem;
                @media (max-width: 768px){
                    #js-search-type{
                        display: none;
                    }
                    #js-search-query{
                        display: none;
                    }
                    #hide-btn{
                        display: none;
                    }
                }
            }
            .top-bar-search__item {
                height: 32px;
                line-height: 16px;
                border: 1px solid var(--clr-primary);
                padding: 0.5rem;
                border-radius: 4px;
            }
            .top-bar-search__query {
                flex: 1;
                width: 20vw;
            }        
        }
        
        .top__bar{
            display: flex;
            padding: 0.25rem 0.5rem;
            align-items: center;
            gap: 0.5rem;
    
        
            @media only screen and (min-width: 359.98px){
                // #top-hide{
                //     display: none;
                // }
                // #js-search-type{
                //     display: none;
                // }
                .top__bar__img-logo {
                    width: 320px;
                    height: auto;
                    padding: 0.5rem 0;
                }
            }
            &__menu-icon{
                width: 28px;
                height: 28px;
                fill: #b57788;
            }
            .wrap-top-icon{
                margin-right: 2rem;
            }
            // .top__bar__menu-icon{
            //     width: 65px;
            //     height: auto;
            // }
            // .search{
            //     margin-right: 3rem;
            //     width: 25px;
            // }
            // .top-icon{
            //     width: 25px;
            // }
            // .profile{
            //     width: 250px;
            // }
            
        }  
        
    }

    
    
    @media only screen and (min-width: 992px) {
        header{
            .top__bar__menu-icon{
                visibility: hidden;
            }
            .top__bar__img-logo{   
                width: 240px;
                height: auto;
                padding: 0.5rem 0;
                img{
                    max-width: none;
                }
            }
            .search{
                margin-right: 3rem;
            }
            
            .top-icon{ 
                    width: 50px;
                    height: 50px;
                    padding: 0.5rem;
            }
            #search{
                display: none;
            }
            
        }
        
    }
    
    
}

