.nav {
  margin-top: 0;
  // margin-bottom: 1rem;
  background-color: var(--clr-primary-2);
  position: relative;
  display: block;
  // align-items: center;
  // justify-content: center;

  // .nav__items .nav__submenu

  &__items {
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: space-between;
    // gap: 1rem;
    // padding: 1rem;
    .nav__submenu {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      background-color: var(--clr-primary-2);
      z-index: 100;
    }
    .nav__dropdown:hover .nav__submenu {
      display: block;
    }
    .nav__submenu.active {
      display: block;
      top: 100%;
    }
    .nav__submenu1 {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      background-color: var(--clr-primary-2);
      z-index: 100;
    }
    .nav__submenu1.active {
      display: block;
      top: 100%;
    }
    .nav__submenu2 {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      background-color: var(--clr-primary-2);
      z-index: 100;
    }
    .nav__submenu2.active {
      display: block;
      top: 100%;
    }

    li:hover {
      background-color: var(--clr-secondary);
      color: #fff;
    }
    li:first-child {
      border-left: 1px solid #661256;
    }
    li {
      border-right: 1px solid #661256;
      flex: 1;
      text-align: center;
      position: relative;
      color: #fff;
      padding: 1rem;
    }
    li > a {
      text-transform: uppercase;
      color: var(--clr-body);
    }
  }

  @media (max-width: 768px) {
    li:first-child {
      border-left: none;
    }

    .nav__items {
      position: fixed;
      right: 100%;
      top: 50px;
      gap: 0;
      flex-direction: column;
      background-color: var(--clr-neutral-5);
      color: black;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
    .nav-menu {
      margin: 16px 0;
      border: none;
      border-bottom: 1px solid var(--clr-neutral-15);
    }
    li > a {
      font-size: var(--font-size-sm);
      font-weight: 600;
    }
    li:hover {
      background-color: #fff;
    }
    .nav__items.active {
      right: 0;
    }

    #nav-link {
      color: black;
    }
  }
}
