.nav__menu {
  display: flex;
  text-transform: uppercase;
  white-space: nowrap;
}
@media only screen and (max-width: 767.98px) {
  .nav {
    display: none;
    position: absolute;
    width: 100%;
    background-color: var(--clr-mono-5);
    color: var(--clr-mono-90);
    z-index: 100;
    padding: 0.5rem;
    border-bottom: 1px solid var(--clr-mono-15);
    font-size: var(--font-size-xs);
    font-weight: 600;
  }
  .nav__menu {
    flex-direction: column;
  }
  .nav__menu > li {
    border-bottom: 1px solid var(--clr-mono-15);
    padding: 0.5rem;
  }
  .nav__menu > li:last-child {
    border-bottom: 0;
  }
  .nav__submenu {
    margin: 0.5rem 1.5rem;
    font-weight: 400;
  }
}
@media only screen and (min-width: 768px) {
  .nav {
    background-color: var(--clr-primary-2);
    position: relative;
    display: block;
  }
  .nav__menu {
    justify-content: space-around;
  }
  .nav__menu > li:first-child {
    border-left: 1px solid var(--clr-primary);
  }
  .nav__menu > li {
    border-right: 1px solid var(--clr-primary);
    flex: 1;
    text-align: center;
    position: relative;
  }
  .nav a {
    text-decoration: none;
    color: #ffffffb3;
    padding: 1rem 0.5rem;
    display: block;
    font-size: var(--font-size-xs);
    line-height: 1;
  }
  .nav a:focus,
  .nav a:hover {
    background-color: var(--clr-secondary);
    color: #fff;
  }
  .nav__submenu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--clr-primary-2);
    z-index: 100;
  }
  .nav__dropdown:hover .nav__submenu {
    display: block;
  }
}
