




<section >
  <div class="banner ">
    <center><p >Advertisment</p></center>
    <div class="ad-banner">
      <picture>
        <source srcset="https://loremflickr.com/970/90" media="(min-width: 992px)" width="970" height="90">
        <source srcset="https://loremflickr.com/728/90" media="(min-width: 768px)" width="728" height="90">
        <source srcset="https://loremflickr.com/468/60" media="(min-width: 576px)" width="468" height="60">
        <img src="https://loremflickr.com/300/250" alt="Advertisement" loading="lazy" width="300" height="250">
      </picture>
    </div>
  </div>
</section>
