




<section >
    <div class="ad-banner">
      <picture>
        <img alt="crypto" src="https://source.unsplash.com/random/?Cryptocurrency&1" height="100" width="500">
      </picture>
    </div>
</section>