---
const today = new Date();
---

<footer class="footer">
    <div class="container">
        <div class="footer__logo-wrapper">
            <img src="/images/logo.png" alt="">
        </div>
        <div class="footer__quick-wrapper column">
            <p>Quick Links</p>
            <span class="flex-flow">
              <a href="#">About Us</a>
              <a href="#">Advertise</a>
              <a href="#">Contact Us</a>
              <a href="#">Help Center</a>
              <a href="#">Terms of Service</a>
              <a href="#">Privacy Policy</a>
            </span>
          </div>
          <div class="footer__popular-wrapper column">
            <p>Popular Channels</p>
            <div class="flex-flow">
              <a href="#">Star Plus</a>
              <a href="#">Zee Tv</a>
              <a href="#">Colors</a>
              <a href="#">Sony Tv</a>
              <a href="#">Sab Tv</a>
            </div>
          </div>

          <div class="footer__social-wrapper">
            <p>Follow us on</p>
            <div class="wrapper">
                <a href="#">
                    <a href="#"
						><img
							src="images/facebook.svg"
							height="35px"
							width="35px"
							class="ft-icon"
							alt=""
							srcset=""
						/></a
					>
					<a href="#"
						><img
							src="images/insta.svg"
							height="35px"
							width="35px"
							class="ft-icon"
							alt=""
							srcset=""
						/></a
					>
					<a href="#"
						><img
							src="images/tweet.svg"
							height="35px"
							width="35px"
							class="ft-icon"
							alt=""
							srcset=""
						/></a
					>
					<a href="#"
						><img
							src="images/link.svg"
							height="35px"
							width="35px"
							class="ft-icon"
							alt=""
							srcset=""
						/></a
					>
					<a href="#"
						><img
							src="images/youtube.svg"
							height="35px"
							width="35px"
							class="ft-icon"
							alt=""
							srcset=""
						/></a
					>
                </a>
            </div>
          </div>
    </div>
    <p class="footer__disclaimer">
        <strong>Disclaimer:</strong> All Logos and Pictures of various Channels, Shows, Artistes, Media Houses, Companies, Brands etc. belong to their respective owners, and are used to merely visually identify the Channels, Shows, Companies, Brands, etc.
        to the viewer. Incase of any issue please contact the webmaster.
      </p>
</footer>

