---

---
<div class="bg">
<header>
	<div class="container">
		<div class="top__bar">
			<div class="hamburger" id="hamburger">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>

			<div class="top__bar__img-logo">
				<img src="/images/logo.png" alt="">
			</div>
			<div class="top-content" id="top-hide">
				<form class="top-bar-search__form" action="/search.html" method="get">
					<select name="st" class="top-bar-search__item top-bar-search__type" id="js-search-type">
					  <option>All</option>
					  <option value="Topics">Topics</option>
					  <option value="Articles">Articles</option>
					  <option value="Movies">Movies</option>
					  <option value="Shows">Shows</option>
					  <option value="Celebrities">People</option>
					  <option value="Videos">Videos</option>
					  <option value="Galleries">Galleries</option>
					  <option value="Channels">Channels</option>
					  <option value="FanFictions">Fan Fictions</option>
					  <option value="Members">Members</option>
					</select>
					<input type="text" name="q" class="top-bar-search__item top-bar-search__query" id="js-search-query" placeholder="Search...">
					<input type="submit" class="top-bar-search__item top-bar-search__submit" id="hide-btn" value="GO">
				  </form>
			</div>
			<div class="wrap-top-icon">
				
					<div class="top-icons">
						<img
							src="/images/search.svg"
							height="30px"
							width="30px"
							alt=""
							srcset=""
							class="top-icons search"
							id="search"
						/> 

				<div class="top-icons">
					<img
						src="/images/world.svg"
						height="30px"
						width="30px"
						alt=""
						srcset=""
						class="top-icon"
					/>
					<img
						src="/images/office-bag.svg"
						alt=""
						srcset=""
						height="30px"
						width="30px"
						class="top-icon"
					/>
					<img
						src="/images/icons8-notification.svg"
						alt=""
						srcset=""
						height="30px"
						width="30px"
						class="top-icon"
					/>
					<img
						src="/images/person.svg"
						alt=""
						srcset=""
						height="50px"
						width="50px"
						class="profile"
					/>
				</div>
			</div>
		</div>
	</div>
</header>
