---

---

<header>
	<div class="container">
		<div class="top__bar">
			<div class="hamburger" id="hamburger">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>

			<div class="top__bar__img-logo">
				<img src="/images/logo.png" alt="">
			</div>
			<div class="top-content" id="top-hide">
				<form class="top-bar-search__form" action="/search.html" method="get">
					<select name="st" class="top-bar-search__item top-bar-search__type" id="js-search-type">
					  <option>All</option>
					  <option value="Topics">Topics</option>
					  <option value="Articles">Articles</option>
					  <option value="Movies">Movies</option>
					  <option value="Shows">Shows</option>
					  <option value="Celebrities">People</option>
					  <option value="Videos">Videos</option>
					  <option value="Galleries">Galleries</option>
					  <option value="Channels">Channels</option>
					  <option value="FanFictions">Fan Fictions</option>
					  <option value="Members">Members</option>
					</select>
					<input type="text" name="q" class="top-bar-search__item top-bar-search__query" id="js-search-query" placeholder="Search...">
					<input type="submit" class="top-bar-search__item top-bar-search__submit" id="hide-btn" value="GO">
				</form>
			</div>
			<div class="wrap-top-icon">
				
					<div class="top-icons">
						<img
							src="/images/search.svg"
							height="30px"
							width="30px"
							alt=""
							srcset=""
							class="top-icons search"
							id="search-btn"
						/> 

						
						<div class="wrap-search" id="wrap-search">
							<input type="text" name="q" class="search-bar-click" id="js-search-query" placeholder="Search...">
							
						</div>
				<div class="top-icons">
					<img
						src="/images/world.svg"
						height="30px"
						width="30px"
						alt=""
						srcset=""
						class="top-icon"
					/>
					<img
						src="/images/office-bag.svg"
						alt=""
						srcset=""
						height="30px"
						width="30px"
						class="top-icon"
						id="office"
					/>
					<img
						src="/images/icons8-notification.svg"
						alt=""
						srcset=""
						height="30px"
						width="30px"
						class="top-icon"
						id="notification"
					/>
					
					<img
						src="/images/person.svg"
						alt=""
						srcset=""
						height="50px"
						width="50px"
						class="profile"
						id="profile-icon"
					/>
					<div class="wrap-profile" id="wrap-profile">
						<div class="container">
							<div class="box">
								<div class="profile-header">
									<p>Vijay</p>
									<span>Settings</span>
								</div>
								<div class="profile-select">
									<select class="select-profile">
										<option>Favorites</option>
										<option>Favorites</option>
									</select>
								</div>
								<div class="messages">
									<div class="msg">
										<p>Private Message</p>
										<p>232</p>
									</div>
									<div class="msg">
										<p>Private Message</p>
										<p>232</p>
									</div>
									<div class="msg">
										<p>Private Message</p>
										<p>232</p>
									</div>
									<div class="msg">
										<p>Private Message</p>
										<p>232</p>
									</div>
									<div class="msg">
										<p>Private Message</p>
										<p>232</p>
									</div>
									<div class="msg">
										<p>Private Message</p>
										<p>232</p>
									</div>
									<div class="msg">
										<p>Private Message</p>
										<p>232</p>
									</div>
								</div>
								<button class="profile-btn"> Logout </button>
							</div>
						</div>
					</div>
					<div class="dropdown__content show" id="dropdown">

						<div class="dropdown__container">
							<div class="dropdown__header">
								<a href="#" class="dropdown__title">Vijay</a>
								<a href="#">Settings</a>
							</div>
							<div class="dropdown__body">
								<div class="dropdown__row">
									<select style="width:90%; margin: 8px auto; font-size: 14px;">
										<option>Favorite</option>
										<option>Favorite</option>
									</select>
								</div>
								<a href="#" class="dropdown__row">
									<p>Private Message</p>
									<span>232</span>
								</a>
								<a href="#" class="dropdown__row">
									<p>Private Message</p>
									<span>232</span>
								</a>
								<a href="#" class="dropdown__row">
									<p>Private Message</p>
									<span>232</span>
								</a>
								<a href="#" class="dropdown__row">
									<p>Private Message</p>
									<span>232</span>
								</a>
								<a href="#" class="dropdown__row">
									<p>Private Message</p>
									<span>232</span>
								</a>
								<a href="#" class="dropdown__row">
									<p>Private Message</p>
									<span>232</span>
								</a>
								<a href="#" class="dropdown__row">
									<p>Private Message</p>
									<span>232</span>
								</a>
								<a href="#" class="dropdown__row">
									<p>Private Message</p>
									<span>232</span>
								</a>
								<a href="#" class="dropdown__row">
									<p>Private Message</p>
									<span>232</span>
								</a>
								<a href="#" class="dropdown__row">
									<p>Private Message</p>
									<span>232</span>
								</a>
							</div>
							<div class="dropdown__footer">
								<a href="#">LogOut</a>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
</header>
