---

---

<nav class="nav" id="js-nav-menu">
    <ul class="container nav__menu">
      <li><a href="#">Home</a></li>
      <li class="nav__dropdown">
        <a href="#">Tv</a>
  
        <ul class="nav__submenu">
          <li><a href="#">Hindi</a></li>
          <li><a href="#">English</a></li>
        </ul>
      </li>
      <li class="nav__dropdown">
        <a href="#">Movies</a>
        <ul class="nav__submenu">
          <li><a href="#">Hindi</a></li>
          <li><a href="#">English</a></li>
        </ul>
      </li>
      <li class="nav__dropdown">
        <a href="#">Digital</a>
        <ul class="nav__submenu">
          <li><a href="#">Hindi</a></li>
          <li><a href="#">English</a></li>
        </ul>
      </li>
      <li><a href="#">Celebrities</a></li>
      <li><a href="#">Videos</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="#">Fan Fictions</a></li>
      <li><a href="#">Quiz</a></li>
      <li><a href="/help">Help</a></li>
    </ul>
  </nav>