---

---

<nav class="nav">
	
        <ul class="container nav__items" id="nav-items">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">Home</a>
            </li class="nav-menu">
            
            <li class="nav-menu" id="active-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">TV</a>
                <ul class="nav__submenu1" id="sub-menu">
                    <li><a href="#">Hindi</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </li class="nav-menu">
            <li class="nav-menu" id="movie-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">MOVIES</a>
                <ul class="nav__submenu2" id="sub-menu">
                    <li><a href="#">Hindi</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </li class="nav-menu">
            <li class="nav-menu" id="tv-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">DIGITAL</a
                >
                <ul class="nav__submenu" id="sub-menu">
                    <li><a href="#">Hindi</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </li class="nav-menu">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer"
                    >CELEBRITIES</a
                >
            </li class="nav-menu">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">VIDEOS</a>
            </li class="nav-menu">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">GALLERY</a
                >
            </li class="nav-menu">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">FORUM</a>
            </li class="nav-menu">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">STORIES</a
                >
            </li class="nav-menu">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">QUIZ</a>
            </li class="nav-menu">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">HELP</a>
            </li class="nav-menu">
        </ul>
</nav>
</div>