---

---

<nav class="nav">
	<div class="container">
        <ul class="nav__items" id="nav-items">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">Home</a>
            </li class="nav-menu">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">TV</a>
            </li class="nav-menu">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">MOVIES</a>
            </li class="nav-menu">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">DIGITAL</a
                >
            </li class="nav-menu">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer"
                    >CELEBRITIES</a
                >
            </li class="nav-menu">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">VIDEOS</a>
            </li class="nav-menu">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">GALLERY</a
                >
            </li class="nav-menu">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">FORUM</a>
            </li class="nav-menu">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">STORIES</a
                >
            </li class="nav-menu">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">QUIZ</a>
            </li class="nav-menu">
            <li class="nav-menu">
                <a href="#" id="nav-link" target="_blank" rel="noopener noreferrer">HELP</a>
            </li class="nav-menu">
        </ul>
    </div>
</nav>
</div>