<section class="articles">
    <div class="container">
      <div class="container--2-col bg-grey">
      
      <div class="container__left">
        <div class="heading-artcile">
          <h3>Latest News</h3>
        <p>You get all the latest news here</p>
        </div>
          <div class="container__right overflow-x">
            <div class="tab">
              <a href="/article" title="All Articles" class="tab__item tab__item--parent tab__item--active js-category-tab-link" data-url="0">ALL</a>
              <a href="/tv/" title="Television News" class="tab__item js-category-tab-link" data-url="1">TV</a>
              <a href="/movies/" title="Movie News" class="tab__item js-category-tab-link" data-url="2">MOVIES</a>
              <a href="/digital/" title="Digital and OTT News" class="tab__item js-category-tab-link" data-url="3">DIGITAL</a>
            </div>
          </div>
        </div>
      <div class="article-list" id="js-article-list">
        <a href="#" class="article-item">
          <img src="https://img.indiaforums.com/article/320x180/18/5023-arjun-kapoor-and-john-abrahams-hindi-remake-of-ayyappanum-koshiyam-put-on-hold.jpg" class="article-item__image" loading="lazy" width="320" height="160">
          <div class="article-item__content">
            <p class="article-item__title">Arjun Kapoor and John Abraham’s hindi remake of Ayyappanum Koshiyam put on hold</p>
            <p class="pretty-time" data-utc="2023-03-03T08:03:00Z"></p>
          </div>
        </a>
        <a href="#" class="article-item">
          <img src="https://img.indiaforums.com/article/320x180/18/5020-ramayan-actor-sunil-lahri-wishes-son-krish-pathak-for-his-tv-show.jpg" class="article-item__image" loading="lazy" width="320" height="160">
          <div class="article-item__content">
            <p class="article-item__title">Ramayan actor Sunil Lahri wishes son Krish Pathak for his TV show</p>
            <p class="pretty-time" data-utc="2023-03-03T04:03:00Z"></p>
          </div>
        </a>
        <a href="#" class="article-item">
          <img src="https://img.indiaforums.com/article/320x180/18/5022-janhvi-kapoor-sizzles-all-the-way-in-a-shellinspired-ensemble-shares-bts-video.jpg" class="article-item__image" loading="lazy" width="320" height="160">
          <div class="article-item__content">
            <p class="article-item__title">Janhvi Kapoor sizzles all the way in a shell-inspired ensemble; shares BTS video</p>
            <p class="pretty-time" data-utc="2022-03-10T04:56:00Z"></p>
          </div>
        </a>
        <a href="#" class="article-item">
          <img src="https://img.indiaforums.com/article/320x180/18/5007-review-the-kashmir-files-offers-a-harrowing-yet-essential-look-into-the-plight-of-kashmiri-pandits.jpg?c=3gNF59" class="article-item__image" loading="lazy" width="320" height="160">
          <div class="article-item__content">
            <p class="article-item__title">Review: 'The Kashmir Files' offers a harrowing yet essential look into the plight of Kashmiri Pandits</p>
            <p class="pretty-time" data-utc="2022-03-10T04:56:00Z"></p>
          </div>
        </a>
  
        <a href="#" class="article-item">
          <img src="https://img.indiaforums.com/article/320x180/18/5015-akshay-kumar-reveals-the-true-story-behind-the-title-of-his-upcoming-film-bachchhan-paandey.jpg" class="article-item__image" loading="lazy" width="320" height="160">
          <div class="article-item__content">
            <p class="article-item__title">Akshay Kumar reveals the true story behind the title of his upcoming film ‘Bachchhan Paandey’</p>
            <p class="pretty-time" data-utc="2022-03-10T04:56:00Z"></p>
          </div>
        </a>
        <a href="#" class="article-item">
          <img src="https://img.indiaforums.com/article/320x180/18/5021-jailor-karan-kundrra-amps-up-the-atyaachaari-khel-in-lock-upp.jpg" class="article-item__image" loading="lazy" width="320" height="160">
          <div class="article-item__content">
            <p class="article-item__title">Jailor Karan Kundrra Amps up the atyaachaari khel in Lock Upp.</p>
            <p class="pretty-time" data-utc="2022-03-10T04:56:00Z"></p>
          </div>
        </a>
        <a href="#" class="article-item">
          <img src="https://img.indiaforums.com/article/320x180/18/5012-ranveer-singh-and-deepika-padukone-obsess-over-john-abrahams-body.jpg" class="article-item__image" loading="lazy" width="320" height="160">
          <div class="article-item__content">
            <p class="article-item__title">Ranveer Singh and Deepika Padukone obsess over John Abraham’s body</p>
            <p class="pretty-time" data-utc="2022-03-10T04:56:00Z"></p>
          </div>
        </a>
        <a href="#" class="article-item">
          <img src="https://img.indiaforums.com/article/320x180/18/5016-himalaya-and-nataliyas-friends-to-make-an-appearance-on-smart-jodi.jpg" class="article-item__image" loading="lazy" width="320" height="160">
          <div class="article-item__content">
            <p class="article-item__title">Himalaya and Nataliya's friends to make an appearance on Smart Jodi</p>
            <p class="pretty-time" data-utc="2022-03-10T04:56:00Z"></p>
          </div>
        </a>
  
        <a href="#" class="article-item">
          <img src="https://img.indiaforums.com/article/320x180/18/5017-sonal-chauhan-clears-air-on-replacing-jacqueline-fernandez-in-the-ghost.jpg" class="article-item__image" loading="lazy" width="320" height="160">
          <div class="article-item__content">
            <p class="article-item__title">Sonal Chauhan clears air on replacing Jacqueline Fernandez in The Ghost</p>
            <p class="pretty-time" data-utc="2022-03-10T04:56:00Z"></p>
          </div>
        </a>
        <a href="#" class="article-item">
          <img src="https://img.indiaforums.com/article/320x180/18/5014-team-bachchhan-paandey-vibe-to-saare-bolo-bewafa-with-their-goofy-steps.jpg" class="article-item__image" loading="lazy" width="320" height="160">
          <div class="article-item__content">
            <p class="article-item__title">Team Bachchhan Paandey vibe to Saare Bolo Bewafa with their goofy steps</p>
            <p class="pretty-time" data-utc="2022-03-10T04:56:00Z"></p>
          </div>
        </a>
        <a href="#" class="article-item">
          <img src="https://img.indiaforums.com/article/320x180/18/5013-tejasswi-prakash-if-someone-tries-to-shame-me-or-my-body-it-is-not-going-to-affect-me.jpg" class="article-item__image" loading="lazy" width="320" height="160">
          <div class="article-item__content">
            <p class="article-item__title">Tejasswi Prakash: If someone tries to shame me or my body, it is not going to affect me</p>
            <p class="pretty-time" data-utc="2022-03-10T04:56:00Z"></p>
          </div>
        </a>
        <a href="#" class="article-item">
          <img src="https://img.indiaforums.com/article/320x180/18/5011-kapil-sharma-reacts-to-news-of-vivek-agnihotris-claims-of-not-inviting-him-on-the-show.jpg" class="article-item__image" loading="lazy" width="320" height="160">
          <div class="article-item__content">
            <p class="article-item__title">Kapil Sharma reacts to news of Vivek Agnihotri's claims of not inviting him on the show</p>
            <p class="pretty-time" data-utc="2022-03-10T04:56:00Z"></p>
          </div>
        </a>
      </div>
      <div class="load-more">
        <a href="#" class="article-btn">Load More</a>
      </div>
    </div>
    </div>
  </section>