---

---

<section class="articles">
    <div class="container">
        <h1>Latest News</h1>
        <p class="subtitle">You get all the latest news here</p>
        <div class="articles__list">
            <a href="#" class="article-item article-item--breaking">
                <img src="/images/arjun.jpg" alt="arjun" class="article-item__image">
                <div class="article-item__content">
                    <p class="article-item__title">Arjun Kapoor and John Abraham's hindi remake of Ayyappanum Koshiyam put on hold</p>
                    <p class="article-item__time">7 hours ago</p>
                </div>
            </a>
            <a href="#" class="article-item article-item--breaking flex-articles">
                <img src="/images/ramayana.jpg" alt="arjun" class="article-item__image">
                <div class="article-item__content">
                    <p class="article-item__title">Ramayan actor Sunil Lahri wishes son Krish Pathak for his TV show</p>
                    <p class="article-item__time">7 hours ago</p>
                </div>
            </a>
            <a href="#" class="article-item article-item--breaking flex-articles">
                <img src="/images/janvi.jpg" alt="arjun" class="article-item__image">
                <div class="article-item__content">
                    <p class="article-item__title">Janhvi Kapoor sizzles all the way in a shell-inspired ensemble; shares BTS video</p>
                    <p class="article-item__time">7 hours ago</p>
                </div>
            </a>
            <a href="#" class="article-item article-item--breaking flex-articles">
                <img src="/images/ksf.jpg" alt="arjun" class="article-item__image">
                <div class="article-item__content">
                    <p class="article-item__title">Review: 'The Kashmir Files' offers a harrowing yet essential look into the plight of Kashmiri Pandits</p>
                    <p class="article-item__time">7 hours ago</p>
                </div>
            </a>
            <a href="#" class="article-item article-item--breaking flex-articles">
                <img src="/images/akshay.jpg" alt="arjun" class="article-item__image">
                <div class="article-item__content">
                    <p class="article-item__title">Akshay Kumar reveals the true story behind the title of his upcoming film 'Bachchhan Paandey'</p>
                    <p class="article-item__time">7 hours ago</p>
                </div>
            </a>
        </div>
    </div>
</section>