---

---

<section class="content">
    <div class="container">
        
    <div class="content-items">
        <div class="content-flex">
            <h3>Popular Shows</h3>
            <div class="btn-flex">
                <button id="prev-btn" class="card-btn">prev</button>
                <button id="next-btn" class="card-btn">next</button>
            </div>
        </div>
        <div class="cards">
            <div class="scroll--cards">
                <img src="images/star-plus.jpg" alt="" srcset="" />
                <div class="show-list">
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        /> 1</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/down-arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />2</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />3</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />4</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />5</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />6</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />7</a
                    >

                    <div class="center">
                        <button class="slider-btn">View More</button>
                    </div>
                </div>
            </div>

            <div class="scroll--cards">
                <img src="images/zee-tv.jpg" alt="" srcset="" />
                <div class="show-list">
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai<img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />1</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/down-arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />2</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />3</a
                    >
                    <div class="center">
                        <button class="slider-btn extra">View More</button>
                    </div>
                </div>
            </div>

            <div class="scroll--cards">
                <img src="images/colors.jpg" alt="" srcset="" />
                <div class="show-list">
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        /> 1</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/down-arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />2</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />3</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />4</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />5</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />6</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />7</a
                    >
                    <div class="center">
                        <button class="slider-btn">View More</button>
                    </div>
                </div>
            </div>

            <div class="scroll--cards">
                <img src="images/sony-tv.jpg" alt="" srcset="" />
                <div class="show-list">
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        /> 1</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/down-arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />2</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />3</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />4</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />5</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />6</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />7</a
                    >
                    <div class="center">
                        <button class="slider-btn">View More</button>
                    </div>
                </div>
            </div>

            <div class="scroll--cards">
                <img src="images/star-plus.jpg" alt="" srcset="" />
                <div class="show-list">
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        /> 1</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/down-arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />2</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/arrow.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />3</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />4</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />5</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />6</a
                    >
                    <a href="#"
                        >Yeh Rishta Kya Kehlata Hai <img
                            src="images/up.png"
                            alt=""
                            srcset=""
                            width="12px"
                            height="12px"
                            class="ranking"
                        />7</a
                    >
                    <div class="center">
                        <button class="slider-btn">View More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>