<section id="popular-shows">
    <div class="container">
      <div class="flex-left-right">
        <h3>Popular Shows</h3>
        <div>
          <button type="button" onclick="slide('left')">Prev</button>
          <button type="button">Next</button>
        </div>
      </div>
  
      <div class="channels snaps-inline mobile-breakout" id="js-channels">
        <div class="channels-item">
          <a href=""><img src="https://img.indiaforums.com/channel/320x180/0/001-star-plus.jpg" alt=""></a>
          <div class="show-list">
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">1</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-down">2</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-equal">3</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">4</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">5</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">6</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">7</span></a>
          </div>
          <div>
            <a href="#" class="btn">View More</a>
          </div>
        </div>
        <div class="channels-item">
          <a href=""><img src="https://img.indiaforums.com/channel/320x180/0/004-zee-tv.jpg" alt=""></a>
          <div class="show-list">
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">1</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-down">2</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-equal">3</span></a>
          </div>
          <div>
            <a href="#" class="btn">View More</a>
          </div>
        </div>
        <div class="channels-item">
          <a href=""><img src="https://img.indiaforums.com/channel/320x180/0/070-colors.jpg" alt=""></a>
          <div class="show-list">
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">1</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-down">2</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-equal">3</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">4</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">5</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">6</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">7</span></a>
          </div>
          <div>
            <a href="#" class="btn">View More</a>
          </div>
        </div>
        <div class="channels-item">
          <a href=""><img src="https://img.indiaforums.com/channel/320x180/0/002-sony-tv.jpg" alt=""></a>
          <div class="show-list">
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">1</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-down">2</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-equal">3</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">4</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">5</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">6</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">7</span></a>
          </div>
          <div>
            <a href="#" class="btn">View More</a>
          </div>
        </div>
        <div class="channels-item">
          <a href=""><img src="https://img.indiaforums.com/channel/320x180/0/001-star-plus.jpg" alt=""></a>
          <div class="show-list">
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">1</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-down">2</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-equal">3</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">4</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">5</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">6</span></a>
            <a href="#">Yeh Rishta Kya Kehlata Hai <span class="ico-xs ico-up">7</span></a>
          </div>
          <div>
            <a href="#" class="btn">View More</a>
          </div>
        </div>
      </div>
    </div>