---

---

<section class="featured-forum">
    <div class="container">
      <h2>Featured Forums</h2>
      <div class="featured-forum__list">
        <a href="#">Rules & Announcement</a>
        <a href="#">Suggestions / Comments</a>
        <a href="#">Bollywood Forum</a>
        <a href="#">Hollywood Forum</a>
        <a href="#">Sensational South</a>
        <a href="#">Members Lounge</a>
        <a href="#">Debate Mansion</a>
        <a href="#">Fan Fictions</a>
        <a href="#">Rules & Announcement</a>
        <a href="#">Suggestions / Comments</a>
        <a href="#">Bollywood Forum</a>
        <a href="#">Hollywood Forum</a>
        <a href="#">Sensational South</a>
        <a href="#">Members Lounge</a>
        <a href="#">Debate Mansion</a>
        <a href="#">Fan Fictions</a>
      </div>
    </div>
  </section>