$blue: blue;

:root{
    
    --clr-primary: #851c3b;
    --clr-on-primary: #b57788;
    --clr-primary-2: #3a0a31;
    --clr-on-primary-2: #b57788;
    --clr-secondary: #e6073d;
    --clr-on-secondary: #fff;
    --clr-secondary-2: #ffd232;
    --clr-on-secondary-2: #000;
    --clr-body: #fff;
    --clr-on-body: #0d0d0d;
    --clr-surface: #f2f2f2;
    --clr-on-surface: #0d0d0d;
    --clr-neutral: gray;
    --clr-white: #fff;
    --clr-neutral-5: #f2f2f2;
    --clr-neutral-10: #e6e6e6;
    --clr-neutral-15: #d9d9d9;
    --clr-neutral-20: #cccccc;
    --clr-neutral-30: #b3b3b3;
    --clr-neutral-40: #999999;
    --clr-neutral-50: gray;
    --clr-neutral-60: #666666;
    --clr-neutral-70: #4d4d4d;
    --clr-neutral-75: #404040;
    --clr-neutral-80: #333333;
    --clr-neutral-85: #262626;
    --clr-neutral-90: #1a1a1a;
    --clr-neutral-95: #0d0d0d;
    --clr-black: #000;
}